.index-heading{
    background-color: #01023b;
    height: 70px;

}
.index-content{
    background-color: red;
}

.index-register-text{
    position: absolute;
}

.index-greeting{
    animation-name: displayContent1;
    animation-duration: 3s;
    opacity: 0;

}


@keyframes displayContent1 {
    from{opacity: 1;}
    to{opacity: 0;}
}

@keyframes displayContent2 {
    from{opacity: 0;}
    to{opacity: 1;}
}